<form fxLayout="column" action="/">
    <h3 fxFlexAlign='center'>Sejá bem vindo, faça login.</h3>
    <mat-form-field>
        <input matInput placeholder="Email" type="email" value="">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Password" type="password" value="">
    </mat-form-field>
    <mat-checkbox>Lembrar-me</mat-checkbox>
    <br>
    <section fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-raised-button color='primary' >ENTRAR</button>
        <button mat-button color='accent' [routerLink]="['/auth/forgot']" >Esqueci minha senha </button>
    </section>
</form>