.login-content {
    background-color: #71CAED;
}
.brand-title {
    color: #29235C;
    margin-top: 5px;
    font-size: 12pt;
}
.brand-slogan {
    color: #1D71B8;
    font-size: 10px;
    text-align: justify;
    text-justify: inter-character;
    letter-spacing: 3px;
}